/* GENERAL SETTING */

/* -Default: 1 rem = 16px
-Reset: 1 rem = 10px
10px/16px = 62.5% */

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

/* CARD SECTION */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  color: hsl(220, 15%, 55%);
  max-width: 27.5rem;
  margin: 15% auto;
  padding: 1rem 1rem 2.5rem 1rem;
}

.qr-code {
  margin: auto;
  text-align: center;
}

.qr-code img {
  border-radius: 20px;
  width: 100%;
}

.qr-title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 2.3rem;
}

/* ATTRIBUTION SECTION */
.attribution {
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(218, 44%, 22%);
}
